{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block content %}
<!-- html form -->

<form action="/submit" method="POST">
    <div class="form-group">
        <label for="text">Text:</label>
        <textarea class="form-control" id="text" name="text" rows="15" maxlength="5000"></textarea>
    </div>
    <div class="form-group">
        <label for="voice">Voice:</label>
        <select class="form-control" id="voice" name="voice">
            <option value="en-US_MichaelVoice">en-US_MichaelVoice</option>
            <option value="en-US_AllisonVoice">en-US_AllisonVoice</option>
            <option value="en-US_LisaVoice">en-US_LisaVoice</option>
            <option value="en-US_SalliVoice">en-US_SalliVoice</option>
        </select>
    </div>
    <div class="form-group">
        <label for="outputFormat">Output Format:</label>
        <select class="form-control" id="outputFormat" name="outputFormat">
            <option value="audio/mp3">audio/mp3</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button> {% endblock %}